<div class='page-container'>
    <div class='page'>
        <div class='logo'>
            <img src="~/images/logo-large.png" />
        </div>
        <div class='login'>
            <h1>Password Vergessen</h1>
            <p class='mb-5'>Bitte Senden Sie Ihre E-Mail addresse an</p>
            <form class='form'>
                <input type="text" placeholder="Email" class="input" />
                <button class="btn">anmelden</button>
            </form>
        </div>
    </div>
</div>