<div class='page-container'>
    <div class='page'>
        <div class='logo'>
            <img src="~/images/logo-large.png" />
        </div>
        <div class='login'>
            <h1>Password zurück setzen</h1>
            <p class='mb-5'>Bitte melden Sie sich an, um auf Ihr Projekt zuzugreifen</p>
            <form class='form'>
                <input type="password" placeholder="password" class="input" />
                <input type="password" placeholder="Password bestätigen" class="input password-input" />
                <button class="btn">Password zurücksetzen</button>
            </form>
        </div>
    </div>
</div>

